# Data Type

# Numeric Data

In [1]:
x = 10 #integer
y = 10.4 #float
z = 30 + 5j #complex

In [2]:
type(x)

int

In [3]:
type(y)

float

In [4]:
type(z)

complex

isinstance()

In [5]:
isinstance(z, complex)

True

In [6]:
isinstance(10, float)

False

# Convert Datatype

In [8]:
# int to float
m = float(x)

In [9]:
typer(x)

NameError: name 'typer' is not defined

In [10]:
type(x)

int

In [11]:
m

10.0

In [12]:
type(m)

float

In [13]:
m = int(m)
type(m)

int

In [14]:
m # again integer

10

In [15]:
o = complex(x)

In [16]:
o

(10+0j)

In [17]:
type(o)

complex

In [18]:
o = int(o)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [19]:
p = 10
p = float(p)

In [20]:
p

10.0

In [21]:
type(p)

float

In [22]:
p = int(p)

In [23]:
p

10

In [24]:
type(p)

int

In [25]:
a = complex(input("Enter the number : "))
print(a)

Enter the number :  4

(4+0j)

In [26]:
a

(4+0j)

In [27]:
b = complex(input("Enter the number : "))
print(b)

Enter the number :  6+7j

(6+7j)

In [28]:
type(a)

complex

# Bool Data

In [29]:
x = True
y = False

In [30]:
x

True

In [31]:
y

False

In [32]:
True

True

In [33]:
true

NameError: name 'true' is not defined

# Sequential Data

# list

In [34]:
# list value
lst = [1,2,3,[23,45,67],True,(12,56,7,3),{10,4.7,34.56}]

In [35]:
lst

[1, 2, 3, [23, 45, 67], True, (12, 56, 7, 3), {4.7, 10, 34.56}]

In [36]:
lst[6]

{4.7, 10, 34.56}

In [37]:
lst[-1] #reverse count

{4.7, 10, 34.56}

In [38]:
lst[-1][0] #TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [39]:
lst[-2][0]

12

In [40]:
type(lst)

list

In [41]:
isinstance(lst,list)

True

# Tuple

In [42]:
t = (12,34,'benin',78.9)

In [43]:
t

(12, 34, 'benin', 78.9)

In [44]:
t[0]

12

In [45]:
t[0:4] #colon means 0 to something

(12, 34, 'benin', 78.9)

In [46]:
t[1:2]

(34,)

# Range

In [47]:
x = range(10) # first case

In [48]:
x

range(0, 10)

In [49]:
 for i in x:
     print (i)

0
1
2
3
4
5
6
7
8
9

In [50]:
x = range(5,20)  #second case
for i in x:
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [51]:
x = range(5,20,3)  #third case
for i in x:
    print(i)

5
8
11
14
17

In [52]:
x = range(20,5,-1)  #fourth case
for i in x:
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6

# Array

In [66]:
from array import*
b = array('i',[12, 78, 89, 90, 91])
print(b)
b

array('i', [12, 78, 89, 90, 91])

array('i', [12, 78, 89, 90, 91])

In [67]:
import array as ar

In [68]:
a = ar.array('i',[12, 34, 56, 45, 10])
a

array('i', [12, 34, 56, 45, 10])

In [70]:
type(a) #array

array.array

In [71]:
r = ar.array('f',[12.3, 34.4, 56.1, 45, 10])
r

array('f', [12.300000190734863, 34.400001525878906, 56.099998474121094, 45.0, 10.0])

# String

In [73]:
x = 'data'
type(x)

str

In [74]:
x = 'I love Data Science'

In [75]:
type(x)

str

# Set

In [76]:
s = {1,2,3,4,5}

In [77]:
s

{1, 2, 3, 4, 5}

In [78]:
type(s)

set

# Dictionary

In [80]:
dict = {
    'iiuc' : 'ctg',
    'dept' : 'cse'
}

In [81]:
dict

{'iiuc': 'ctg', 'dept': 'cse'}

In [82]:
type(dict)

dict

In [84]:
dict.keys()

dict_keys(['iiuc', 'dept'])

In [85]:
dict.values()

dict_values(['ctg', 'cse'])

# Data Frame

# Pandas

In [113]:
import pandas as pd
df = pd.read_excel(r'D:\5th_SEM\CSE-3527_compiler_project.xlsx')
print(df.head())

   Group A       Unnamed: 2  Unnamed: 3   .1
0      NaN  NaN         NaN         NaN  NaN
1  Group B  NaN         NaN         NaN  NaN
2      NaN  NaN         NaN         NaN  NaN
3      NaN  NaN         NaN         NaN  NaN
4  Group C  NaN         NaN         NaN  NaN

In [114]:
df.head()

   Group A       Unnamed: 2  Unnamed: 3   .1
0      NaN  NaN         NaN         NaN  NaN
1  Group B  NaN         NaN         NaN  NaN
2      NaN  NaN         NaN         NaN  NaN
3      NaN  NaN         NaN         NaN  NaN
4  Group C  NaN         NaN         NaN  NaN

In [126]:
import pandas as pd

df = pd.read_excel(r'D:\Book 2.xlsx')
print(df.head())

  Group       ID                 Name  \
0     A  C231448  Sabikun nahar mohua
1   NaN  C231456           Nusrat Nur
2   NaN      NaN                  NaN
3     B      NaN                  NaN
4   NaN  C231444      Nazrana Nahreen

                                               Topic
0  A smart event planner with social media integr...
1                                                NaN
2                                                NaN
3                             AI Medical Chatbot 2.0
4                                                NaN

In [127]:
df.head()

,Group,ID,Name,Topic
0,A,C231448,Sabikun nahar mohua,A smart event planner with social media integr...
1,NaN,C231456,Nusrat Nur,NaN
2,NaN,NaN,NaN,NaN
3,B,NaN,NaN,AI Medical Chatbot 2.0
4,NaN,C231444,Nazrana Nahreen,NaN

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
import pandas as pd
df = read_csv(r'C:\Users\ASUS\Downloads\archive\weather.csv')

In [21]:
df.head(10)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
5,6.2,16.9,0.0,5.8,8.2,SE,44.0,SE,E,20.0,...,57,1023.8,1021.7,7,5,10.9,14.8,No,0.2,No
6,6.1,18.2,0.2,4.2,8.4,SE,43.0,SE,ESE,19.0,...,47,1024.6,1022.2,4,6,12.4,17.3,No,0.0,No
7,8.3,17.0,0.0,5.6,4.6,E,41.0,SE,E,11.0,...,57,1026.2,1024.2,6,7,12.1,15.5,No,0.0,No
8,8.8,19.5,0.0,4.0,4.1,S,48.0,E,ENE,19.0,...,48,1026.1,1022.7,7,7,14.1,18.9,No,16.2,Yes
9,8.4,22.8,16.2,5.4,7.7,E,31.0,S,ESE,7.0,...,32,1024.1,1020.7,7,1,13.3,21.7,Yes,0.0,No

In [22]:
from pandas import*
df = read_csv(r'C:\Users\ASUS\Downloads\archive\weather.csv')

In [23]:
df.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [28]:
df.shape

(366, 22)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        366 non-null    float64
 1   MaxTemp        366 non-null    float64
 2   Rainfall       366 non-null    float64
 3   Evaporation    366 non-null    float64
 4   Sunshine       363 non-null    float64
 5   WindGustDir    363 non-null    object
 6   WindGustSpeed  364 non-null    float64
 7   WindDir9am     335 non-null    object
 8   WindDir3pm     365 non-null    object
 9   WindSpeed9am   359 non-null    float64
 10  WindSpeed3pm   366 non-null    int64
 11  Humidity9am    366 non-null    int64
 12  Humidity3pm    366 non-null    int64
 13  Pressure9am    366 non-null    float64
 14  Pressure3pm    366 non-null    float64
 15  Cloud9am       366 non-null    int64
 16  Cloud3pm       366 non-null    int64
 17  Temp9am        366 non-null    float64
 18  Temp3pm        366 non-null    float64
 19  RainToday      366 non-null    object
 20  RISK_MM        366 non-null    float64
 21  RainTomorrow   366 non-null    object
dtypes: float64(12), int64(5), object(5)
memory usage: 63.0+ KB

# Binary Type Data

In [30]:
byte_arr = bytearray('ABCDEF', 'utf-8')

In [31]:
type(byte_arr)

bytearray

In [32]:
byte_arr

bytearray(b'ABCDEF')

In [34]:
memoryview(byte_arr)

In [35]:
memoryview(byte_arr)[0]

65

In [36]:
mv = memoryview(byte_arr)
mv[0]

65

In [37]:
mv[0] = 97

In [38]:
memoryview(byte_arr)[0]

97

In [39]:
byte_arr

bytearray(b'aBCDEF')