In [1]:
name1 = "benin"
age1 = 23
print(f"My name is {name1} and I am {age1} years old.")

My name is benin and I am 23 years old.

In [2]:
name2 = "yeasmin"
age2 = 25
print(f"My name is {name2} and I am {age2} years old.")

My name is yeasmin and I am 25 years old.

without using f string

In [3]:
name3="meem"
print("my name is ",name3)

my name is  meem

with using f string

In [4]:
name3 = "yeasmin"
age2 = 23
print(f"My name is {name3} and I am {age3} years old.")

NameError: name 'age3' is not defined

In [5]:
name3 = "yeasmin"
age3 = 23
print(f"My name is {name3} and I am {age3} years old.")

My name is yeasmin and I am 23 years old.